.testimnials{
    background-color: #F9F5F0;
  p{
    font-family: var(--font-cm);
    font-size: 38px;
    font-weight: 300;
  }
  h4{
    font-family: var(--font-jost);
    font-weight: 400;
    margin-top: 50px;
  }
}
